<div class="container " >
    <div class="row my-5">
        <div class="col-lg-3 col-xs-12 ">
            <div class="container BoxContatiner" >
                <div class="row my-3">
                    <div class="col-lg-12 p-4 ">
                                                                                         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus hic nisi vero nesciunt eius quasi voluptates explicabo sequi numquam, corrupti et obcaecati! Nesciunt repudiandae possimus repellat omnis accusamus dolores animi!                    </div>
                </div>
            </div>
            <div class="container BoxContatiner" >
                <div class="row  my-3">
                    <div class="col-lg-12 p-4">
                                                                                     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus hic nisi vero nesciunt eius quasi voluptates explicabo sequi numquam, corrupti et obcaecati! Nesciunt repudiandae possimus repellat omnis accusamus dolores animi!                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-xs-12 ">
            <div class="container BoxContatiner " >

            <div class="row my-3">
                <div class="col-lg-12 p-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur consequuntur expedita ipsam, est perspiciatis fugiat aspernatur amet aliquam iure sapiente sit facilis doloremque, neque aliquid nihil exercitationem, quas doloribus.
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-12 p-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur consequuntur expedita ipsam, est perspiciatis fugiat aspernatur amet aliquam iure sapiente sit facilis doloremque, neque aliquid nihil exercitationem, quas doloribus.
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-12 p-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur consequuntur expedita ipsam, est perspiciatis fugiat aspernatur amet aliquam iure sapiente sit facilis doloremque, neque aliquid nihil exercitationem, quas doloribus.
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-12 p-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur consequuntur expedita ipsam, est perspiciatis fugiat aspernatur amet aliquam iure sapiente sit facilis doloremque, neque aliquid nihil exercitationem, quas doloribus.
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-12 p-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur consequuntur expedita ipsam, est perspiciatis fugiat aspernatur amet aliquam iure sapiente sit facilis doloremque, neque aliquid nihil exercitationem, quas doloribus.
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-12 p-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur consequuntur expedita ipsam, est perspiciatis fugiat aspernatur amet aliquam iure sapiente sit facilis doloremque, neque aliquid nihil exercitationem, quas doloribus.
                </div>
            </div>
        </div>
    </div>

    </div>
  
</div>